<footer>
    <section class="logonlinks">
        <div class="logoWrapper">
            <div class="logo">
                <app-image [src]="'/assets/images/seksi-logo.png'"></app-image>
            </div>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
            </p>
        </div>

        <div class="linkWrapper">
            <div class="linkseg1">
                <h3>Menüü</h3>
                <a href="" class="link">Avaleht</a>
                <a href="" class="link">Lemmikud</a>
                <a href="" class="link">Kontakt</a>               
            </div>

            <div class="linkseg2">
                <h3>Kategooriad</h3>
                <a href="" class="link">Mees otsib naist</a>
                <a href="" class="link">Naine otsib meest</a>
                <a href="" class="link">Mees otsib meest</a>
                <a href="" class="link">Naine otsib naist</a>                
            </div>

        </div>
    </section>

    <section class="copyright">
        <p>Copyright Ulakas 2023</p>
    </section>
</footer>
