footer{
    width: 100%;
    height: 358px;
    left: 0px;
    top: 1797px;
    background: #141030;
    padding: 64px 12.3% 0 12.3%;
}

@media screen and (max-width: 720px){
    footer{
        display: none;
    }
}