<div class="heroCardWrapper">
    <div class="heroTextAndButtonWrapper">
        <h1>Kes otsib, see leiab...</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>

        <app-button (btnClick)="createAd()" [text]="'Lisa kuulutus'" [width]="150" [height]="40" [ngClass]="'{display: flex}'">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="currentColor" d="m14 18l-1.4-1.45L16.15 13H4v-2h12.15L12.6 7.45L14 6l6 6Z"/></svg>
        </app-button>
    </div>
    
    <div class="heroImageWrapper" >
        <img class="heroImage" src="assets/images/sexycollege.png" alt="">
    </div>
</div>
