<div class="wrapper">
    <main>
        <section class="heroSection">
             <app-hero-card></app-hero-card>
        </section>
        <section class="filterSectoin">
            <app-filter-tab (filterValue)="filterByCounty($event)"></app-filter-tab>
        </section>
        <section class="cardListSection">
            <cdk-virtual-scroll-viewport (scrolledIndexChange)="loadMoreData($event)" scrollWindow class="virtual-Veiw" [itemSize]="390">
                <app-info-card  class="infoCard" 
                *cdkVirtualFor="let ad of list; let i = index" [ad]="ad">
                </app-info-card> 
            </cdk-virtual-scroll-viewport>
        </section>
       

   </main>
    
    <div class="sideNav">Side Nv</div>
</div>

