.wrapper {
    background: #1D1841;
    height: 100%;
    width: 100%;
    padding: 0 12.3%;
    display: grid;
    grid-template-columns: 61.4% 34.91%;
    grid-gap: 3.68%;
    margin-top: 40px;
}

.wrapper .sideNav {
    max-width: 398px;
    width: 100%;
    height: 497px;
    background: #141030;
    border-radius: 10px;
}

main{
    max-width: 700px;
}

.heroSection{
    margin-bottom: 31px;
}
.filterSectoin {
    margin-bottom: 26px;
    max-width: 700px;
}
.cardListSection {
   display: flex;
   flex-direction: column;
   gap: 14px;
   height: 100%;
   align-items: center;
   margin-bottom: 10px;
}
.cdk-virtual-scroll-viewport  {
    width: 100%;
}

.cdk-virtual-scroll-viewport > div{
    flex-direction: column;
    display: flex;
    row-gap: 16px;

}

.example-margin {
    margin: 0 10px;
  }

  .spinner {
    margin: 50px auto 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background: linear-gradient(180deg, #FE2CB5 0%, #FC4F43 100%);
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  .lightBox{
    position: absolute;
    height: 100%;
    width: 100%;
  }

  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      transform: scale(0);
      -webkit-transform: scale(0);
    } 40% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }


@media screen and (max-width: 1090px) {
    .wrapper {
        display: grid;
        grid-template-columns: 100%;
       
    }
    .wrapper .sideNav {
        display: none;
    }
}

@media screen and (max-width: 720px){
    .wrapper{
        padding: 0 7.44%;
    }
    .cardListSection {
        gap: 17px;
    }

  .cardListSection ::ng-deep .cdk-virtual-scroll-content-wrapper {
      min-width: 100%;
      width: 100%;
  }
}