<div class="slider">

    <div *ngIf="showCarouselButtons()" class="leftArrow" (click)="gotToPrevious()">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="rgba(255, 255, 255, 0.7)" d="M14.71 15.88L10.83 12l3.88-3.88a.996.996 0 1 0-1.41-1.41L8.71 11.3a.996.996 0 0 0 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0c.38-.39.39-1.03 0-1.42z"/></svg>
    </div>

    <app-image class="appImage" [src]="getCurrentSlideUrl()" [height]="'100%'" [maxheight]="'inherit'" [styles]="styles"></app-image>
    
    <div *ngIf="showCarouselButtons()" class="rightArrow" (click)="goToNext()">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="rgba(255, 255, 255, 0.7)" d="M9.29 6.71a.996.996 0 0 0 0 1.41L13.17 12l-3.88 3.88a.996.996 0 1 0 1.41 1.41l4.59-4.59a.996.996 0 0 0 0-1.41L10.7 6.7c-.38-.38-1.02-.38-1.41.01z"/></svg>
    </div>

    <div class="bgImage" [ngStyle]="{ 'background': 'url(' + getCurrentSlideUrl() +')' , 'background-repeat': 'no-repeat', 'background-position': 'center', 'background-size': 'cover'}">
    </div>
    <div class="bgImageBlur"></div>
</div>
