@font-face {
    font-family: 'avenir-black';
    src: url('assets/fonts/AvenirLTStd-Black.otf');
}
@font-face {
    font-family: 'avenir-book';
    src: url('assets/fonts/AvenirLTStd-Book.otf');
}
@font-face {
    font-family: 'avenir-roman';
    src: url('assets/fonts/AvenirLTStd-Roman.otf');
}
@font-face {
    font-family: 'DM-sans';
    src: url('assets/fonts/DMSans-Medium.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'avenir-book','avenir-black';
 
}

html, body {
    height: 100%;
    background: #1D1841;
}
